<?xml version="1.0" encoding="utf-8"?>
<?wix include path="../Config.wxi" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <!-- Fragment for GitExtensions UI -->
  <Fragment>
    <UI Id="GitExtensions_UI">

      <!-- Text styles -->
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="9" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="10" Bold="yes" />

      <!-- Properties -->
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />
      <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

      <!-- Dialog references -->
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="GitEx_ErrorDlg" />
      <DialogRef Id="GitEx_FatalError" />
      <DialogRef Id="GitEx_UserExit" />

      <!-- Navigation -->
      <Publish Dialog="GitEx_ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="EndDialog" Value="Return" Order="1" />

      <!-- Installation flow -->
      <Publish Dialog="GitEx_WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallScopeDlg" />
      <Publish Dialog="InstallScopeDlg" Control="Back" Event="NewDialog" Value="GitEx_WelcomeDlg" Order="1" />
      <Publish Dialog="InstallScopeDlg" Control="Next" Event="NewDialog" Value="GitEx_InstallDirDlg" Order="1" />

      <Publish Dialog="GitEx_InstallDirDlg" Control="Back" Event="NewDialog" Value="InstallScopeDlg" />
      <Publish Dialog="GitEx_InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="GitEx_InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />
      <Publish Dialog="GitEx_InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="GitEx_InstallDirDlg" Control="Next" Event="NewDialog" Value="GitEx_CustomizeDlg" Order="2" />

      <Publish Dialog="GitEx_CustomizeDlg" Control="Next" Event="NewDialog" Value="GitEx_VerifyReadyDlg" Order="1" Condition="Upgrading" />
      <Publish Dialog="GitEx_CustomizeDlg" Control="Next" Event="NewDialog" Value="GitEx_TelemetryDlg" Order="2" Condition="NOT Upgrading" />
      <Publish Dialog="GitEx_TelemetryDlg" Control="Back" Event="NewDialog" Value="GitEx_CustomizeDlg" Order="2" Condition="NOT Upgrading" />
      <Publish Dialog="GitEx_TelemetryDlg" Control="Next" Event="NewDialog" Value="GitEx_VerifyReadyDlg" Order="2" Condition="NOT Upgrading" />
      <Publish Dialog="GitEx_VerifyReadyDlg" Control="Back" Event="NewDialog" Value="GitEx_TelemetryDlg" Order="1" Condition="NOT Upgrading" />
      <Publish Dialog="GitEx_VerifyReadyDlg" Control="Back" Event="NewDialog" Value="GitEx_CustomizeDlg" Order="3" Condition="Upgrading" />

      <Publish Dialog="GitEx_MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="GitEx_MaintenanceTypeDlg" />
      <Publish Dialog="GitEx_MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="GitEx_CustomizeDlg" />
      <Publish Dialog="GitEx_MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="GitEx_VerifyReadyDlg" />
      <Publish Dialog="GitEx_MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="GitEx_VerifyReadyDlg" />
      <Publish Dialog="GitEx_MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="GitEx_MaintenanceWelcomeDlg" />

    </UI>
  </Fragment>

  <!-- Fragment to reference the UI from Product.wxs -->
  <Fragment>
    <UIRef Id="GitExtensions_UI" />
  </Fragment>

</Wix>
