<?xml version="1.0" encoding="utf-8"?>
<!--setup\installer\UI\WixUI.wxs-->
<?require WixToolset.UI.wixext ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Fragment>
    <ui:UserInterface Id="WixUI_GitExtensions">

      <!-- Text Styles -->
      <ui:TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="9" />
      <ui:TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" Bold="yes" />
      <ui:TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="10" Bold="yes" />

      <!-- UI Properties -->
      <ui:Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <ui:Property Id="WixUI_Mode" Value="FeatureTree" />
      <ui:Property Id="WixAppFolder" Value="WixPerMachineFolder" />

      <!-- Built-in and custom dialog references -->
      <ui:DialogRef Id="BrowseDlg" />
      <ui:DialogRef Id="FilesInUse" />
      <ui:DialogRef Id="MsiRMFilesInUse" />
      <ui:DialogRef Id="PrepareDlg" />
      <ui:DialogRef Id="ResumeDlg" />
      <ui:DialogRef Id="GitEx_ErrorDlg" />
      <ui:DialogRef Id="GitEx_FatalError" />
      <ui:DialogRef Id="GitEx_UserExit" />

      <!-- Finish button -->
      <ui:Publish Dialog="GitEx_ExitDialog" Control="Finish"
                  Event="EndDialog" Value="Return" Order="999" />

      <!-- Browse dialog validation -->
      <ui:Publish Dialog="BrowseDlg" Control="OK"
                  Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3" />
      <ui:Publish Dialog="BrowseDlg" Control="OK"
                  Event="SpawnDialog" Value="InvalidDirDlg" Order="4"
                  Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />

      <?include ../Config.wxi ?>

      <!-- Installation flow -->
      <ui:Publish Dialog="GitEx_WelcomeDlg" Control="Next"
                  Event="NewDialog" Value="InstallScopeDlg" />
      <ui:Publish Dialog="InstallScopeDlg" Control="Back"
                  Event="NewDialog" Value="GitEx_WelcomeDlg" Order="1" />
      <ui:Publish Dialog="InstallScopeDlg" Control="Next"
                  Event="NewDialog" Value="GitEx_InstallDirDlg" Order="1" />

      <!-- Installation directory navigation -->
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="Back"
                  Event="NewDialog" Value="InstallScopeDlg" />
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="ChangeFolder"
                  Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="ChangeFolder"
                  Event="SpawnDialog" Value="BrowseDlg" Order="2" />
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="Next"
                  Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="Next"
                  Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="2"
                  Condition="NOT WIXUI_DONTVALIDATEPATH" />
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="Next"
                  Event="SpawnDialog" Value="InvalidDirDlg" Order="3"
                  Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <ui:Publish Dialog="GitEx_InstallDirDlg" Control="Next"
                  Event="NewDialog" Value="GitEx_CustomizeDlg" Order="4"
                  Condition="WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />

      <!-- Skip telemetry if upgrading -->
      <ui:Publish Dialog="GitEx_CustomizeDlg" Control="Next"
                  Event="NewDialog" Value="GitEx_VerifyReadyDlg" Order="1"
                  Condition="Upgrading" />

      <!-- Show telemetry if new install -->
      <ui:Publish Dialog="GitEx_CustomizeDlg" Control="Next"
                  Event="NewDialog" Value="GitEx_TelemetryDlg" Order="2"
                  Condition="NOT Upgrading" />
      <ui:Publish Dialog="GitEx_TelemetryDlg" Control="Back"
                  Event="NewDialog" Value="GitEx_CustomizeDlg" Order="2"
                  Condition="NOT Upgrading" />
      <ui:Publish Dialog="GitEx_TelemetryDlg" Control="Next"
                  Event="NewDialog" Value="GitEx_VerifyReadyDlg" Order="2"
                  Condition="NOT Upgrading" />

      <ui:Publish Dialog="GitEx_VerifyReadyDlg" Control="Back"
                  Event="NewDialog" Value="GitEx_TelemetryDlg" Order="1"
                  Condition="NOT Upgrading" />
      <ui:Publish Dialog="GitEx_VerifyReadyDlg" Control="Back"
                  Event="NewDialog" Value="GitEx_CustomizeDlg" Order="3"
                  Condition="Upgrading" />

      <!-- Maintenance flow -->
      <ui:Publish Dialog="GitEx_MaintenanceWelcomeDlg" Control="Next"
                  Event="NewDialog" Value="GitEx_MaintenanceTypeDlg" />
      <ui:Publish Dialog="GitEx_MaintenanceTypeDlg" Control="ChangeButton"
                  Event="NewDialog" Value="GitEx_CustomizeDlg" />
      <ui:Publish Dialog="GitEx_MaintenanceTypeDlg" Control="RepairButton"
                  Event="NewDialog" Value="GitEx_VerifyReadyDlg" />
      <ui:Publish Dialog="GitEx_MaintenanceTypeDlg" Control="RemoveButton"
                  Event="NewDialog" Value="GitEx_VerifyReadyDlg" />
      <ui:Publish Dialog="GitEx_MaintenanceTypeDlg" Control="Back"
                  Event="NewDialog" Value="GitEx_MaintenanceWelcomeDlg" />

    </ui:UserInterface>

    <!-- Reference the standard common dialogs -->
    <ui:UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
